<table class="table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <%if(!users.length){%>
        <tr>
            <td>No data.</td>
        </tr>
   <% }
     _.each(users, function(user){ %>
    <tr data-id="<%= user._id %>">
        <td class="firstName"><%= user.firstName %></td>
        <td class="lastName"><%= user.lastName %></td>
        <td>
            <% if(add){%>
            <button class="btn btn-success btn-add-to-group">Add To Group</button>
            <% } else { %>
            <button class="btn btn-danger btn-delete-from-group">Delete From Group</button>
            <% } %>
        </td>
    </tr>
    <%});%>
    </tbody>
</table>

<div id="pagination<%=add ? 'Course' : 'Group'%>" class="col-md-offset-3"></div>