<div class="row">
    <div class="col-md-offset-1 col-md-2 form-inline">
        <label for="courseSelect">Select Course: </label>
        <select name="course" id="courseSelect" class="form-control">
                <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
    <div class="col-md-offset-4 col-md-2 form-inline">
        <label for="groupSelect">Select Group: </label>
        <select name="group" id="groupSelect" class="form-control">
            <% _.each(groups, function(group){ %>
            <option value="<%=group._id%>"><%=group.name%></option>
            <% });%>
        </select>
    </div>
</div>