<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Curator</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% _.each(groups, function(group){%>

    <tr data-id="<%= group._id%>">
        <% if(selectedGroupId && selectedGroupId == group._id){%>
        <td><input name="name" type="text" value="<%=group.name%>"></td>
        <td>
            <select name="curator" id="selectedGroupCurator">
                <option value="<%= group.curator._id %>" selected><%= group.curator.login %></option>
                <% _.each(teachers, function(teacher){
                if(teacher._id != group.curator._id){ %>
                <option value="<%= teacher._id %>"><%= teacher.login %></option>
                <% }}); %>
            </select>
        </td>
        <td>
            <button class="btn btn-success btn-group-edit-save">Save</button>
            <button class="btn btn-danger btn-group-edit-cancel">Cancel</button>
        </td>
        <%} else {%>
        <td><%= group.name%></td>
        <td><%= group.curator ? group.curator.login : 'none' %></td>
        <td>
            <button class="btn btn-warning btn-group-edit">Edit</button>
            <button class="btn btn-danger btn-group-delete">Delete</button>
        </td>
        <% }%>
    </tr>

    <% }); %>
    </tbody>
</table>