#btnAddNewPost {
    width: 150px;
}

table td {
    text-align: center;
}

.category {
    background-color: #fff;
    border-radius: 5%;
    color: black;
}

.modal-background {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    position: fixed;
    background-color: rgba(5, 15, 12, 0.9);
}

.modal-background > div {
    display: none;
    margin: 2% 20%;
    border-radius: 25px;
}

.btn-close {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 38px;
    text-align: center;
    font-weight: bold;

    opacity: 0.5;
}

.btn-post-close {
    display: block;
    color: black;
    float: right;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 38px;
    text-align: center;
    font-weight: bold;

    opacity: 0.5;
}

.btn-close:hover,
.btn-close:focus,
.btn-post-close:hover,
.btn-post-close:focus {
    cursor: pointer;
    opacity: 1;
}

.post-content {
    white-space: pre-wrap;
}

#btnAddCollapse {
    display: none;
}

#addPostLoader {
    display: none;
}

.loader {
    border: 4px solid grey;
    border-radius: 50%;
    border-top: 4px solid black;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

.loader-full {
    display: none;
    position: absolute;
    border: 14px solid black;
    border-radius: 50%;
    border-top: 14px solid white;

    width: 230px;
    height: 230px;
    margin: 5% 40%;
    animation: spin 1s linear infinite;
    z-index: 2;
    opacity: 0.6;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(120deg);
    }
    80% {
        transform: rotate(240deg);

    }
    100% {
        transform: rotate(360deg);

    }
}

.blog-post {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.blog-post-content {
    font-family: "Open Sans";
}

.blog-post-content p {
    white-space: pre-wrap;
    background: rgba(139, 217, 210, 0.03);
    font-family: "Verdana";
    font-size: 16px;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag {
    background: #48EB5A;
    border-radius: 3px 0 0 3px;
    color: white;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 12px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    opacity: 0.8;
}

.tag::after {
    background: #fff;
    border-top: 13px solid transparent;
    border-left: 10px solid #48EB5A;
    border-bottom: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;

}

.tag:hover {
    background-color: crimson;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.tag:hover::after {
    border-left-color: crimson;
}

.new-comment {
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    margin-bottom: 12px;
    padding-bottom: 10px;
}

.new-comment textarea {
    margin: 4px 16px 4px 6px;
    width: 98%;
}

.new-comment input[type="button"] {
    margin-right: 14px;
}

.comments-section {
    /*background: rgba(0, 10, 80, 0.03);*/
    /*border-radius: 12px 15px 30px;*/
    padding: 4px 12px 4px 16px;
    margin-top: 8px;
}

.comments-section .inner {
    box-shadow: inset 0 4px 8px 10px rgba(0, 0, 0, 0.01);
    background: rgba(0, 10, 80, 0.008);
    border-radius: 15px;
}

.comment .content {
    /*background: #fff;*/
    /*border-radius: 25px;*/
    padding: 10px;
    /*display: inline-block;*/
    margin-left: 50px;
    margin-right: 8px;
}

.comment img.profile_image {
    width: 36px;
    margin: 8px 8px 8px 8px;
}

.comment .date {
    margin-top: 12px;
    margin-right: 8px;
}

.comment .author {
    font-size: 16px;
}
#notifications{
    bottom: 0;
    right: 20px;
    position: fixed;
    width: 380px;
}

.notification {
    z-index: 9999;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 16px;
    background: #48EB5A;
    opacity: 1;
    /*padding: 5px;*/
    /*border-radius: ;*/
    /*background: rgba(355,355,355,0.8);*/
}

.notification .title {
    color: #000;
    font-size: 15px;
}

.notification img{
    width:24px;
}

.notification .message {
    margin: 10px 10px 10px 5px;
    color: black;
    font-family: "Open Sans";
    opacity: 1;
}

.btn-notification-close {
    display: block;
    color: black;
    float: right;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;

    opacity: 0.5;
}

.btn-notification-close:hover,
.btn-notification-close:focus,
.btn-notification-close:hover,
.btn-notification-close:focus {
    cursor: pointer;
    opacity: 1;
}



