<div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Введіть свій email</div>
                <div class="panel-body">
                    <p>Ми вишлемо вам подальші інструкції на email</p>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="text" class="form-control">
                    </div>
                    <div class="col-md-offset-5">
                        <button id="btnRegister" class="btn btn-primary">Підтвердити</button>
                    </div>
                </div>
        </div>
 </div>
