<ul class="pagination">
    <%
    var renderPage;
    var linksQuantity = 9; //better if it's odd

    var linksOnSide = Math.floor(linksQuantity/2);

    if(currentPage > 1 + linksOnSide){%>
        <li class="pagination-link"><a href="" data-page="1"><%= 1 %></a></li>
    <%}

    for(var i = 1, length = pagesQuantity; i <= length; i++){
        renderPage = false;

        if(pagesQuantity <= linksQuantity){
            renderPage = true;
        }
        else {
            if(currentPage <= Math.ceil(linksQuantity/2)){
                if(i <= linksQuantity){
                    renderPage = true;
                }
            }
            else if(currentPage <= pagesQuantity - linksOnSide){
                if(currentPage - linksOnSide <= i && i <= currentPage + linksOnSide){
                    renderPage = true;
                }
            }
            else if(currentPage - linksOnSide <= i){
                renderPage = true;
            }
        }

        if(renderPage){%>
            <li class="pagination-link<%= currentPage == i ? ' active' : '' %>"><a href="" data-page="<%= i %>"><%= i %></a></li>
        <%}
    }

    if(currentPage < pagesQuantity - linksOnSide){%>
    <li class="pagination-link"><a href="" data-page="<%= pagesQuantity%>"><%= pagesQuantity %></a></li>
   <%}%>
</ul>