<% _.each(posts, function(post){%>
<div data-id="<%= post._id %>" class="panel panel-success">
    <span class="btn-post-close">&times;</span>

    <div class="panel-heading"><%= post.title %></div>
    <div>
        <% _.each(post.categories, function(category){ %>
        <a class="category" href="/#posts/<%= category.name %>"> <%= category.name %></a>
        <% }); %>
    </div>
    <div class="panel-body">
        <div class="post-content well"><%= post.content %></div>
    </div>
    <div class="panel-footer clearfix">
        <% var date = (new Date(post.dateOfCreation)).toLocaleString(); %>
        <span><%= date %></span>
    </div>
</div>
<% }); %>